.draggingButtonBox {
  display: flex;
  margin-bottom: 20px;
}

.draggingButtonBox button:last-child {
  margin-left: -10px;
  z-index: 0;
}

.botao {
  width: 196px;
  padding: 7px 20px;
  font-size: 16px;
  font-weight: 800;
  white-space: nowrap;
  border-radius: 8px;
  border: 1px solid var(--gray-400);
  background: var(--white);
  color: var(--blue);
  z-index: 1;
}

.botao:hover {
  background-color: var(--blue);
  cursor: pointer;
  color: var(--white);
}

.ativo {
  background-color: var(--blue);
  border-color: 1px solid var(--blue);
  color: var(--white);
}

.ativoAzul {
  background-color: #3b82f6;
  border-color: #3b82f6;
  color: var(--white);
}
