@import url("https://rsms.me/inter/inter.css");

* {
  box-sizing: border-box;
  font-family: "Inter";
  padding: 0px;
  margin: 0px;
}

/* Colors: */
:root {
  --white: #ffffff;
  --gray-50: #eeeeee;
  --gray-100: #d7d7d7;
  --gray-400: #696969;
  --green: #00cda8;
  --black: #000000;
  --blue: #004bff;
  --blue-150: #0a2b78;
  --orange: #ff5d00;
  --red: #ea5462;
}

body {
  background: #eeeeee;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

h1,
h2,
h3 {
  font-size: 14px;
}

a {
  text-decoration: none;
}

/* ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
} */

img {
  display: block;
  max-width: 100%;
}

button {
  display: block;
  font-size: 1rem;
  cursor: pointer;
}

span {
  font-weight: 400;
}

strong {
  font-weight: 600;
}
