.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid #ea5462;
  border-radius: 36px;
}

.slider:before {
  position: absolute;
  content: "";
  width: 11px;
  height: 11px;
  left: 4px;
  top: 1.5px; /* adiciona um espaçamento de 3px */
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #ea5462;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #ea5462;
  border-color: #ea5462;
}

input:checked + .slider:before {
  transform: translate(17px);
  background-color: #fff;
}
