.nextStepButton {
  padding: 7.5px 28px;
  border-radius: 24px;
  border: none;
  background-color: #004bff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}

.nextStepButton:hover {
  transition: 0.3s;
  background-color: #0a2b78;
}
