.sidebarNavigation {
  width: 13rem;
  background-color: #fff;
  height: 100%;
  padding: 16px 16px 16px 0px;
  padding-right: 26px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  margin-top: 4.2rem;
  cursor: pointer;
  overflow: hidden;
  transition: width 0.5s;
  margin-right: 3rem;
  box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.05);

  z-index: 99;
}

.navLink {
  display: flex;
  font-size: 14px;
  padding: 7px 7px 7px 16px;
  margin-bottom: 12px;
  color: #696969;
  font-weight: bold;
  flex-direction: column;
}

.navLink h3 {
  white-space: nowrap;
}

a {
  text-decoration: none;
}

.navLink:hover {
  background-color: #004bff;
  color: #fff;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  transition: 0.2s;
}

.iconItem {
  margin-right: 13px;
  height: 24px;
  width: 24px;
}

.toggleMenuIcon {
  margin-bottom: 20px;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  padding: 7px 7px 0px 16px;
}

@media screen and (min-width: 420px) {
  .hideSidebar {
    width: 3.8rem;
    padding: 16px 0px 0px 0px;
    transition: 0.5s;
    overflow: hidden;
  }

  .hideSidebar h3 {
    display: none;
    transition: 1s;
  }

  .iconItem {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
  }

  .hideSidebar .arrowIcon {
    display: none;
  }

  .hideSidebar .navLink {
    margin-top: 15.5px;
  }
}

.options {
  padding: 0px 0px 0px 3.4rem;
}

.options p {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 15px;
  color: #696969;
}

.options p:hover {
  color: #004bff;
}

.options:first-child {
  margin-top: 10px;
}

.optionTitle {
  display: flex;
  align-items: center;
}

.arrowIcon {
  margin: 4px 0px 0px 2px;
}
