.container {
  height: 100vh;
  background-color: var(--gray-50);
}

.wrapper {
  display: flex;
  margin-top: 4.188rem;
}

.mainContainer {
  flex: 1;
}

.mainContainer {
  display: flex;
  justify-content: center;
}

.mainWrapper {
  margin-top: 50px;
}
